# RFP: Targeted Taco Bell Ads

## Project Overview
You are invited to submit a proposal that answers the following question:

### What ad will you create and why?

*Please submit your proposal by **1/30/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you will need to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Customer Demographics](https://drive.google.com/file/d/1HK42Oa3bhhRDWR1y1wVBDAQ2tbNwg1gS/view?usp=sharing)
- [Ad Response Data](https://drive.google.com/file/d/1cuLqXPNKhP66m5BP9BAlci2G--Vopt-Z/view?usp=sharing)

*Note, a level 5 dataset combines these two data sets.*

In [1]:
import pandas as pd

df1 = pd.read_csv("ad_data.csv") 
df2 = pd.read_csv("customer_data.csv") 

result = pd.concat([df1, df2])
print(result)

      customer_id                                            ad_type  \
0            3226                    BOGO - Garlic Steak Nacho Fries
1            5217                                       DISCOUNT-50%
2            5247  REWARD - Free Garlic Steak Nacho Fries with pu...
3            7793                                        DISCOUNT-5%
4            5759                                       DISCOUNT-50%
...           ...                                                ...
9995         3616                                                NaN
9996         7670                                                NaN
9997         7248                                                NaN
9998         7699                                                NaN
9999         2112                                                NaN

                   ad_medium ad_response  \
0          15 sec YouTube ad        True
1          15 sec YouTube ad       False
2          15 sec YouTube ad        True
3     30 sec Hulu commercial       False
4          15 sec YouTube ad       False
...                      ...         ...
9995                     NaN         NaN
9996                     NaN         NaN
9997                     NaN         NaN
9998                     NaN         NaN
9999                     NaN         NaN

                                        items_purchased  \
0     ['steak garlic nacho fries', 'steak garlic nac...
1      ['crunchy taco', 'cheesy bean and rice burrito']
2     ['steak garlic nacho fries', 'cheesy gordita c...
3     ['crunchwrap supreme', 'cravings box', 'crunch...
4                 ['nachos bellgrande', 'crunchy taco']
...                                                 ...
9995                                                NaN
9996                                                NaN
9997                                                NaN
9998                                                NaN
9999                                                NaN

                                       drinks_purchased state  sex   age  \
0     ['gatorade', 'mug root beer', 'baja blast', 'd...   NaN  NaN   NaN
1                            ['gatorade', 'diet pepsi']   NaN  NaN   NaN
2                            ['mountain dew', 'starry']   NaN  NaN   NaN
3               ['baja blast', 'brisk', 'mountain dew']   NaN  NaN   NaN
4                               ['pepsi', 'diet pepsi']   NaN  NaN   NaN
...                                                 ...   ...  ...   ...
9995                                                NaN    AL    F  47.0
9996                                                NaN    NY    M  30.0
9997                                                NaN    MO    F  42.0
9998                                                NaN    AZ    F  26.0
9999                                                NaN    OH    M  35.0

      occupation  family_size    income
0            NaN          NaN       NaN
1            NaN          NaN       NaN
2            NaN          NaN       NaN
3            NaN          NaN       NaN
4            NaN          NaN       NaN
...          ...          ...       ...
9995  Healthcare          3.0  143571.0
9996      Retail          2.0   37865.0
9997  Government          3.0   96691.0
9998  Government          1.0   62191.0
9999       Other          2.0   53155.0

[20000 rows x 12 columns]

In [3]:
df1.info

<bound method DataFrame.info of       customer_id                                            ad_type  \
0            3226                    BOGO - Garlic Steak Nacho Fries
1            5217                                       DISCOUNT-50%
2            5247  REWARD - Free Garlic Steak Nacho Fries with pu...
3            7793                                        DISCOUNT-5%
4            5759                                       DISCOUNT-50%
...           ...                                                ...
9995          904                                  BOGO - Baja Blast
9996         8731                                        DISCOUNT-5%
9997         7396                                       DISCOUNT-10%
9998         8559                                       DISCOUNT-10%
9999         7641                                       DISCOUNT-20%

                   ad_medium  ad_response  \
0          15 sec YouTube ad         True
1          15 sec YouTube ad        False
2          15 sec YouTube ad         True
3     30 sec Hulu commercial        False
4          15 sec YouTube ad        False
...                      ...          ...
9995        15 sec TikTok ad        False
9996      Static Facebook ad        False
9997        15 sec TikTok ad        False
9998      30 sec cable TV ad        False
9999       15 sec YouTube ad        False

                                        items_purchased  \
0     ['steak garlic nacho fries', 'steak garlic nac...
1      ['crunchy taco', 'cheesy bean and rice burrito']
2     ['steak garlic nacho fries', 'cheesy gordita c...
3     ['crunchwrap supreme', 'cravings box', 'crunch...
4                 ['nachos bellgrande', 'crunchy taco']
...                                                 ...
9995                       ['steak garlic nacho fries']
9996  ['crunchwrap supreme', 'spicy potato soft taco...
9997                       ['steak garlic nacho fries']
9998  ['cinnamon twists', 'mexican pizza', 'cinnamon...
9999                             ['chicken quesadilla']

                                       drinks_purchased
0     ['gatorade', 'mug root beer', 'baja blast', 'd...
1                            ['gatorade', 'diet pepsi']
2                            ['mountain dew', 'starry']
3               ['baja blast', 'brisk', 'mountain dew']
4                               ['pepsi', 'diet pepsi']
...                                                 ...
9995                                   ['mountain dew']
9996  ['mountain dew', 'brisk', 'starry', 'baja blast']
9997                                       ['gatorade']
9998  ['gatorade', 'mug root beer', 'iced tea', 'ice...
9999                                     ['baja blast']

[10000 rows x 6 columns]>

In [4]:
df2.info

<bound method DataFrame.info of       customer_id state sex   age    occupation  family_size  income
0            9167    MO   F  42.0  Food Service            1   40343
1             531    MI   F  36.0        Retail            4   41730
2            2265    CA   F  25.0            IT            0   84024
3            7550    VA   M  38.0  Food Service            2   38990
4            5334    MT   M  35.0  Food Service            1   33400
...           ...   ...  ..   ...           ...          ...     ...
9995         3616    AL   F  47.0    Healthcare            3  143571
9996         7670    NY   M  30.0        Retail            2   37865
9997         7248    MO   F  42.0    Government            3   96691
9998         7699    AZ   F  26.0    Government            1   62191
9999         2112    OH   M  35.0         Other            2   53155

[10000 rows x 7 columns]>

### 2. Training Your Model
In the cell seen below, write the code you need to train a K-means clustering model. Make sure you describe the center of each cluster found.

*Note, level 5 work uses at least 3 features to train a K-means model using only the standard Python library and Pandas. A level 4 uses external libraries like scikit or numpy.*

In [3]:
# Train model here.

#### Don't forget to describe the centers of the clusters you found.

### 3. Testing Your Model
In the cell seen below, write the code you need to test your K-means model. Then, interpret your findings.

*Note, level 5 testing uses both an elbow plot and a silhouette score to evaluate your model. Level 4 uses one or the other.*

In [2]:
# Test model here.

#### Interpret your elbow plot and/or silhouette score here.

### 4. Final Answer

In the first cell seen below, describe the cluster you have chosen to target with your ad, making sure to describe the type of ad they were the most likely to respond to. Then, use software of your choosing to create the ad you will need to target this cluster. You do not need to create an ad for both the nacho fries and the Baja Blast. You can focus on one if that's what your cluster cares about most.

In the second cell seen below, include a link to your ad.

*Note, a level 5 ad uses the medium (static image or video) the cluster most likely responded to.*

#### Describe the cluster you are targeting here.

#### Link your ad here.