In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split  
from sklearn.cluster import KMeans
df = pd.read_csv('penguins.csv')
df = df.dropna()
print(df.head())
print(df.info())

   culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0              39.1             18.7              181.0       3750.0    MALE
1              39.5             17.4              186.0       3800.0  FEMALE
2              40.3             18.0              195.0       3250.0  FEMALE
4              36.7             19.3              193.0       3450.0  FEMALE
5              39.3             20.6              190.0       3650.0    MALE
<class 'pandas.core.frame.DataFrame'>
Int64Index: 335 entries, 0 to 343
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   culmen_length_mm   335 non-null    float64
 1   culmen_depth_mm    335 non-null    float64
 2   flipper_length_mm  335 non-null    float64
 3   body_mass_g        335 non-null    float64
 4   sex                335 non-null    object
dtypes: float64(4), object(1)
memory usage: 15.7+ KB
None

In [2]:
train_df, _ = train_test_split(df, test_size=0.3, random_state=42)
train_df = train_df[["culmen_length_mm", "culmen_depth_mm", "flipper_length_mm", "body_mass_g"]]
train_df.head()

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
34               36.4             17.0              195.0       3325.0
26               40.6             18.6              183.0       3550.0
292              48.2             15.6              221.0       5100.0
302              47.4             14.6              212.0       4725.0
61               41.3             21.1              195.0       4400.0